AXWAY CLI, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.

The Axway CLI is a unified command line interface for the Axway Amplify Platform.

VERSION
  axway/{{version}} {{string}} node-v{{string}}

USAGE
  $ axway [COMMAND]

TOPICS
  auth             Manage Axway CLI authentication.
  config           Manage configuration options.
  org              Manage Amplify Platform organizations.
  service-account  Create and manage service accounts.
  team             Manage Amplify Platform organization teams.
  user             The "user" commands are no longer supported as of version 5.0.0.

COMMANDS
  autocomplete  Display autocomplete installation instructions.
  telemetry     Opt-in or out of telemetry to improve Axway products.
  user          The "user" commands are no longer supported as of version 5.0.0.
