The Axway CLI is a unified command line interface for the Axway Amplify Platform.

{{#bold}}VERSION{{/bold}}
  axway/{{version}} {{string}} node-v{{string}}

{{#bold}}USAGE{{/bold}}
  $ {{#cyan}}axway{{/cyan}} [COMMAND]

{{#bold}}TOPICS{{/bold}}
  {{#cyan}}auth{{/cyan}}             Manage Axway CLI authentication.
  {{#cyan}}config{{/cyan}}           Manage configuration options.
  {{#cyan}}org{{/cyan}}              Manage Amplify Platform organizations.
  {{#cyan}}service-account{{/cyan}}  Create and manage service accounts.
  {{#cyan}}team{{/cyan}}             Manage Amplify Platform organization teams.
  {{#cyan}}user{{/cyan}}             The "user" commands are no longer supported as of version 5.0.0.

{{#bold}}COMMANDS{{/bold}}
  {{#cyan}}autocomplete{{/cyan}}  Display autocomplete installation instructions.
  {{#cyan}}telemetry{{/cyan}}     Opt-in or out of telemetry to improve Axway products.
  {{#cyan}}user{{/cyan}}          The "user" commands are no longer supported as of version 5.0.0.
