{{#cyan}}AXWAY CLI{{/cyan}}, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.{{{nodeDeprecationWarning}}}

{{#yellow}} ┃ ATTENTION! Your current architecture "arm" is not supported.{{/yellow}}

The Axway CLI is a unified command line interface for the Axway Amplify Platform.

USAGE: {{#cyan}}axway <command> [options]{{/cyan}}

COMMANDS:
  {{#cyan}}auth           {{/cyan}}  The Axway Auth CLI authenticates with the Axway Amplify Platform, manages access tokens, and retrieves account information
  {{#cyan}}completion     {{/cyan}}  Output or generate shell completion code
  {{#cyan}}config         {{/cyan}}  Manage configuration options
  {{#cyan}}org            {{/cyan}}  Manage Amplify Platform organizations
  {{#cyan}}service-account{{/cyan}}  Create and manage service accounts
  {{#cyan}}team           {{/cyan}}  Manage Amplify Platform organization teams
  {{#cyan}}telemetry      {{/cyan}}  Opt-in or out of telemetry to improve Axway products
  {{#cyan}}user           {{/cyan}}  User commands are no longer supported as of version 5.0.0. Their references will be removed in a subsequent release.

GLOBAL OPTIONS:
  {{#cyan}}--no-banner    {{/cyan}}  Suppress the banner
  {{#cyan}}--no-color     {{/cyan}}  Disable colors
  {{#cyan}}-h, --help     {{/cyan}}  Displays the help screen
  {{#cyan}}-v, --version  {{/cyan}}  Outputs the version
