AXWAY CLI, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.

View service account details.

USAGE
  $ axway service-account view CLIENT-ID [--json] [--no-banner] [--no-color] [--profile <value>] [--org <value>] [--account <value>]

ARGUMENTS
  CLIENT-ID  The service account client id or name.

FLAGS
  --account=<value>  The account to use within the active profile.
  --org=<value>      The organization name, id, or guid; defaults to the current org.

GLOBAL FLAGS
  --json             Format output as json.
  --no-banner        Disable the banner.
  --no-color         Disable color output.
  --profile=<value>  Specify the configuration profile to use.

DESCRIPTION
  View service account details.

  Displays information about a service account, including its roles, teams, and authentication method.

ALIASES
  $ axway service-account v
  $ axway service-account info
  $ axway service-account show

