 ›   Error: Missing 2 required args:
 ›   key    Config key to set.
 ›   value  Value to set.
 ›   See more help with --help

USAGE
  $ axway config set KEY VALUE [--json] [--no-banner] [--no-color] [--profile <value>]

ARGUMENTS
  KEY    Config key to set.
  VALUE  Value to set.

GLOBAL FLAGS
  --json             Format output as json.
  --no-banner        Disable the banner.
  --no-color         Disable color output.
  --profile=<value>  Specify the configuration profile to use.

