AXWAY CLI, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.

Remove a config setting.

USAGE
  $ axway config delete KEY [--json] [--no-banner] [--no-color] [--profile <value>]

ARGUMENTS
  KEY  Config key to delete.

GLOBAL FLAGS
  --json             Format output as json.
  --no-banner        Disable the banner.
  --no-color         Disable color output.
  --profile=<value>  Specify the configuration profile to use.

ALIASES
  $ axway config rm
  $ axway config remove
  $ axway config unset

EXAMPLES
  Remove a config setting.

    $ axway config delete <key>

