{{#cyan}}AXWAY CLI{{/cyan}}, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.{{{nodeDeprecationWarning}}}

Select default account and organization

USAGE: {{#cyan}}axway auth switch [options]{{/cyan}}

SWITCH OPTIONS:
  {{#cyan}}--account [name]    {{/cyan}}  The account to switch to
  {{#cyan}}--json              {{/cyan}}  Disables prompting and outputs selected account and org as JSON
  {{#cyan}}--org [guid|id|name]{{/cyan}}  The organization to switch to

AUTH OPTIONS:
  {{#cyan}}--env [name]        {{/cyan}}  The environment to use

GLOBAL OPTIONS:
  {{#cyan}}--no-banner         {{/cyan}}  Suppress the banner
  {{#cyan}}--no-color          {{/cyan}}  Disable colors
  {{#cyan}}-h, --help          {{/cyan}}  Displays the help screen
  {{#cyan}}-v, --version       {{/cyan}}  Outputs the version
