{{#cyan}}AXWAY CLI{{/cyan}}, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.

Manage configuration options.

{{#bold}}USAGE{{/bold}}
  $ {{#cyan}}axway{{/cyan}} {{#cyan}}config{{/cyan}} [--no-banner] [--no-color] [--profile <value>]

{{#bold}}GLOBAL FLAGS{{/bold}}
  {{#cyan}}--no-banner{{/cyan}}        Disable the banner.
  {{#cyan}}--no-color{{/cyan}}         Disable color output.
  {{#cyan}}--profile={{#underline}}<value>{{/underline}}{{/cyan}}  Specify the configuration profile to use.

{{#bold}}SETTINGS{{/bold}}
  {{#cyan}}auth.tokenStoreType{{/cyan}} {{#gray}}[string] (default: "auto"){{/gray}}
    After authenticating, access tokens are encrypted and stored in a file called the token store.
    Access to this file is restricted to only the owner (the current user).
    By default, the encryption key is stored in the system's keychain, however this feature is unavailable in headless environments such as SSH terminals and this setting must be set to "file".

    Allowed values:
      {{#cyan}}auto{{/cyan}}    Attempts to use the "secure" store, but falls back to "file" if secure store is unavailable.
      {{#cyan}}secure{{/cyan}}  Encrypts the access token and using a generated key which is stored in the system's keychain.
      {{#cyan}}file{{/cyan}}    Encrypts the access token using the embedded key.
      {{#cyan}}memory{{/cyan}}  Stores the access token in memory instead of on disk. The access tokens are lost when the process exits. This is intended for testing purposes only.
      {{#cyan}}null{{/cyan}}    Disables all forms of token persistence and simply returns the access token. Subsequent calls to login in the same process will force the authentication flow. This is intended for migration scripts and testing purposes only.

  {{#cyan}}network.caFile{{/cyan}} {{#gray}}[string]{{/gray}}
    The path to a PEM formatted certificate authority bundle used to validate untrusted SSL certificates.

  {{#cyan}}network.proxy{{/cyan}} {{#gray}}[string]{{/gray}}
    The URL of the proxy server. This proxy server URL is used for both HTTP and HTTPS requests.

    Note: If the proxy server uses a self signed certifcate, you must specify the network.caFile, set network.strictSSL to false, or set the environment variable NODE_TLS_REJECT_UNAUTHORIZED=0.

  {{#cyan}}network.strictSSL{{/cyan}} {{#gray}}[bool] (default: true){{/gray}}
    Enforces valid TLS certificates on all outbound HTTPS requests. Set this to false if you are behind a proxy server with a self signed certificate.

{{#bold}}EXAMPLES{{/bold}}
  List all config settings

    $ axway config list

  Return the config as JSON

    $ axway config ls --json

  Get a specific config setting

    $ axway config get home

  Set a config setting

    $ axway config set env production

{{#bold}}TOPICS{{/bold}}
  {{#cyan}}config profile{{/cyan}}  Manage configuration profile options.

{{#bold}}COMMANDS{{/bold}}
  {{#cyan}}config delete{{/cyan}}   Remove a config setting.
  {{#cyan}}config get{{/cyan}}      Display a specific config setting.
  {{#cyan}}config list{{/cyan}}     Display all config settings.
  {{#cyan}}config pop{{/cyan}}      Remove the last value in a list.
  {{#cyan}}config push{{/cyan}}     Add a value to the end of a list.
  {{#cyan}}config set{{/cyan}}      Change a config setting.
  {{#cyan}}config shift{{/cyan}}    Remove the first value in a list.
  {{#cyan}}config unshift{{/cyan}}  Add a value to the beginning of a list.

