{{#cyan}}AXWAY CLI{{/cyan}}, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.{{{nodeDeprecationWarning}}}

Display organization usage report.

USAGE: {{#cyan}}axway org usage [options] [<org>]{{/cyan}}

USAGE ARGUMENTS:
  {{#cyan}}org                 {{/cyan}}  The organization name, id, or guid; defaults to the current org

USAGE OPTIONS:
  {{#cyan}}--account [name]    {{/cyan}}  The platform account to use
  {{#cyan}}--from [yyyy-mm-dd] {{/cyan}}  The start date
  {{#cyan}}--json              {{/cyan}}  Outputs the usage as JSON
  {{#cyan}}--month [mm|yyyy-mm]{{/cyan}}  A month date range; overrides --to and --from
  {{#cyan}}--to [yyyy-mm-dd]   {{/cyan}}  The end date

GLOBAL OPTIONS:
  {{#cyan}}--no-banner         {{/cyan}}  Suppress the banner
  {{#cyan}}--no-color          {{/cyan}}  Disable colors
  {{#cyan}}-h, --help          {{/cyan}}  Displays the help screen
  {{#cyan}}-v, --version       {{/cyan}}  Outputs the version

EXAMPLE:

  You must be authenticated into an Amplify Platform account to view or manage
  organizations. Run {{#cyan}}"axway auth login"{{/cyan}} to authenticate.

  Display organization usage for the past 14 days:
    {{#cyan}}axway org usage <org>{{/cyan}}

  Display organization usage for a specific date range:
    {{#cyan}}axway org usage <org> --from 2021-04-01 --to 2021-04-30{{/cyan}}
