{{#cyan}}AXWAY CLI{{/cyan}}, version 2.2.0-beta2
Copyright (c) 2018-2021, Axway, Inc. All Rights Reserved.

Account:      {{#cyan}}test_client:foo@bar.com{{/cyan}}
Organization: {{#cyan}}Bar org{{/cyan}} {{#gray}}(2000){{/gray}}
Date Range:   {{#cyan}}2/1/2021{{/cyan}} and {{#cyan}}2/28/2021{{/cyan}}

{{#bold}}SaaS{{/bold}}
  {{#bold}}API Calls{{/bold}}           {{#cyan}}       1,294 of 5,000{{/cyan}} Calls   {{#green}}■■■■■{{/green}}{{#gray}}⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂{{/gray}}  25%
  {{#bold}}Push Notifications{{/bold}}  {{#cyan}}       1,511 of 2,000{{/cyan}} Calls   {{#yellow}}■■■■■■■■■■■■■■■{{/yellow}}{{#gray}}⠂⠂⠂⠂⠂{{/gray}} {{#yellow}} 75%{{/yellow}}
  {{#bold}}File Storage{{/bold}}        {{#cyan}}         0.001 of 100{{/cyan}} GB      {{#gray}}⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂{{/gray}}   0%
  {{#bold}}Database Storage{{/bold}}    {{#cyan}}          0.32 of 100{{/cyan}} GB      {{#gray}}⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂{{/gray}}   0%
  {{#bold}}Container Points{{/bold}}    {{#cyan}}       2,266 of 1,000{{/cyan}} Points  {{#red}}■■■■■■■■■■■■■■■■■■■■{{/red}} {{#red}}226%{{/red}}
  {{#bold}}Analytics Events{{/bold}}    {{#cyan}}423,110 of 10,000,000{{/cyan}} Events  {{#green}}■{{/green}}{{#gray}}⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂{{/gray}}   4%
