{{#cyan}}AXWAY CLI{{/cyan}}, version {{version}}
Copyright (c) 2018-2021, Axway, Inc. All Rights Reserved.{{{nodeDeprecationWarning}}}

Account:      {{#cyan}}test_client:foo@bar.com{{/cyan}}
Organization: {{#cyan}}Baz org{{/cyan}} {{#gray}}(3000){{/gray}}
Date Range:   {{#cyan}}2/1/2021{{/cyan}} and {{#cyan}}2/28/2021{{/cyan}}

{{#bold}}SaaS{{/bold}}
  {{#bold}}API Calls{{/bold}}           {{#cyan}}  1,294 of Unlimited{{/cyan}} Calls
  {{#bold}}Push Notifications{{/bold}}  {{#cyan}}  1,511 of Unlimited{{/cyan}} Calls
  {{#bold}}File Storage{{/bold}}        {{#cyan}}  0.001 of Unlimited{{/cyan}} GB
  {{#bold}}Database Storage{{/bold}}    {{#cyan}}   0.32 of Unlimited{{/cyan}} GB
  {{#bold}}Container Points{{/bold}}    {{#cyan}}  2,266 of Unlimited{{/cyan}} Points
  {{#bold}}Analytics Events{{/bold}}    {{#cyan}}423,110 of Unlimited{{/cyan}} Events
