{{#cyan}}AXWAY CLI{{/cyan}}, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.

Manage Amplify Platform organization teams.

{{#bold}}USAGE{{/bold}}
  $ {{#cyan}}axway{{/cyan}} {{#cyan}}team{{/cyan}} [--no-banner] [--no-color] [--profile <value>]

{{#bold}}GLOBAL FLAGS{{/bold}}
  {{#cyan}}--no-banner{{/cyan}}        Disable the banner.
  {{#cyan}}--no-color{{/cyan}}         Disable color output.
  {{#cyan}}--profile={{#underline}}<value>{{/underline}}{{/cyan}}  Specify the configuration profile to use.

{{#bold}}DESCRIPTION{{/bold}}
  Manage Amplify Platform organization teams.

  You must be authenticated to view or manage organization teams.
  Run {{#cyan}}"axway auth login"{{/cyan}} to authenticate.

  You may specify the team by name or guid.

  For team user commands, you may refer to a user by email address or guid, or a service account by guid or client id.

{{#bold}}TOPICS{{/bold}}
  {{#cyan}}team user{{/cyan}}  Manage team users.

{{#bold}}COMMANDS{{/bold}}
  {{#cyan}}team create{{/cyan}}  Create a new team for an organization.
  {{#cyan}}team list{{/cyan}}    List organization teams.
  {{#cyan}}team remove{{/cyan}}  Remove a team from an organization.
  {{#cyan}}team update{{/cyan}}  Update team information.
  {{#cyan}}team view{{/cyan}}    View team information.

