AXWAY CLI, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.

View available service account roles.

USAGE
  $ axway service-account roles [--json] [--no-banner] [--no-color] [--profile <value>] [--org <value>] [--account <value>]

FLAGS
  --account=<value>  The account to use within the active profile.
  --org=<value>      The organization name, id, or guid; defaults to the current org.

GLOBAL FLAGS
  --json             Format output as json.
  --no-banner        Disable the banner.
  --no-color         Disable color output.
  --profile=<value>  Specify the configuration profile to use.

DESCRIPTION
  View available service account roles.

  Available organization and team roles may vary by organization.

