AXWAY CLI, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.

Account:      test-auth-client-secret
Organization: Foo org (1000)

ORGANIZATION ROLES           
  administrator  Administrator
  developer      Developer    
  some_admin     Some Admin   
                              
TEAM ROLES                   
  administrator  Team Manager 
  developer      Developer    
