{{#cyan}}AXWAY CLI{{/cyan}}, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.{{{nodeDeprecationWarning}}}

Account:      {{#cyan}}test-auth-client-secret{{/cyan}}
Organization: {{#cyan}}Foo org{{/cyan}} {{#gray}}(1000){{/gray}}

ORGANIZATION ROLES
  {{#cyan}}some_admin{{/cyan}}     Some Admin

TEAM ROLES
  {{#cyan}}administrator{{/cyan}}  Administrator
  {{#cyan}}developer{{/cyan}}      Developer
