{{#cyan}}AXWAY CLI{{/cyan}}, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.{{{nodeDeprecationWarning}}}

Account:      {{#cyan}}test_client:foo@bar.com{{/cyan}}
Organization: {{#cyan}}Foo org{{/cyan}} {{#gray}}(1000){{/gray}}
Date Range:   {{#cyan}}2/1/2021{{/cyan}} - {{#cyan}}2/28/2021{{/cyan}}

DATE       DESCRIPTION                                       EVENT NAME               ORGANIZATION
2/2/2021   User {{#cyan}}test1@domain.com{{/cyan}} added to team {{#cyan}}Default Team{{/cyan}}  platform.team.user.add   Foo org
2/7/2021   Team {{#cyan}}B Team{{/cyan}} created                               platform.team.create     Foo org
2/13/2021  Session created for user {{#cyan}}foo@bar.com{{/cyan}}              platform.session.create  {{#gray}}n/a{{/gray}}
