AXWAY CLI, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.

Remove the first value in a list.

USAGE
  $ axway config shift KEY [--json] [--no-banner] [--no-color] [--profile <value>]

ARGUMENTS
  KEY  Config key to shift from.

GLOBAL FLAGS
  --json             Format output as json.
  --no-banner        Disable the banner.
  --no-color         Disable color output.
  --profile=<value>  Specify the configuration profile to use.

EXAMPLES
  Remove the first value in a list.

    $ axway config shift <key>

