{{#cyan}}AXWAY CLI{{/cyan}}, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.{{{nodeDeprecationWarning}}}

Launching default web browser: {{#cyan}}{{url}}{{/cyan}}
Revoked authenticated accounts:
 {{#cyan}}test_client:foo@bar.com{{/cyan}}
