 ›   Error: Missing 1 required arg:
 ›   value  Value to add.
 ›   See more help with --help

USAGE
  $ axway config unshift KEY VALUE [--json] [--no-banner] [--no-color] [--profile <value>]

ARGUMENTS
  KEY    Config key to unshift to.
  VALUE  Value to add.

GLOBAL FLAGS
  --json             Format output as json.
  --no-banner        Disable the banner.
  --no-color         Disable color output.
  --profile=<value>  Specify the configuration profile to use.

