{{#cyan}}AXWAY CLI{{/cyan}}, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.{{{nodeDeprecationWarning}}}

The "user" commands are no longer supported as of version 5.0.0.

{{#bold}}USAGE{{/bold}}
  $ {{#cyan}}axway{{/cyan}} {{#cyan}}user{{/cyan}} [--no-banner] [--no-color]

{{#bold}}GLOBAL FLAGS{{/bold}}
  {{#cyan}}--no-banner{{/cyan}}  Disable the banner.
  {{#cyan}}--no-color{{/cyan}}   Disable color output.
