{{#cyan}}AXWAY CLI{{/cyan}}, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.{{{nodeDeprecationWarning}}}

{{#red}}User commands are no longer supported as of version 5.0.0. Their references will be removed in a subsequent release.{{/red}}

USAGE: {{#cyan}}axway user <command> [options]{{/cyan}}

USER COMMANDS:
  {{#cyan}}activity     {{/cyan}}  Display your activity
  {{#cyan}}credentials  {{/cyan}}  Opens a web browser to the change your password page
  {{#cyan}}update       {{/cyan}}  Change your information
  {{#cyan}}view         {{/cyan}}  Display your user information

GLOBAL OPTIONS:
  {{#cyan}}--no-banner  {{/cyan}}  Suppress the banner
  {{#cyan}}--no-color   {{/cyan}}  Disable colors
  {{#cyan}}-h, --help   {{/cyan}}  Displays the help screen
  {{#cyan}}-v, --version{{/cyan}}  Outputs the version
