{{#cyan}}AXWAY CLI{{/cyan}}, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.{{{nodeDeprecationWarning}}}

Account: {{#cyan}}test-auth-client{{/cyan}}

ORGANIZATION  GUID  ORG ID
{{#green}}{{check}} Foo org{{/green}}     1000  100
