AXWAY CLI, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.

List organizations.

USAGE
  $ axway org list [--json] [--no-banner] [--no-color] [--profile <value>] [--account <value>]

FLAGS
  --account=<value>  The account to use within the active profile.

GLOBAL FLAGS
  --json             Format output as json.
  --no-banner        Disable the banner.
  --no-color         Disable color output.
  --profile=<value>  Specify the configuration profile to use.

ALIASES
  $ axway org ls

EXAMPLES
  List organizations for the default account

    $ axway org list

  List organizations for a specific account

    $ axway org list --account my-account

  Output organizations as JSON

    $ axway org list --json

