AXWAY CLI, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.

Lists all authenticated accounts.

USAGE
  $ axway auth list [--json] [--no-banner] [--no-color] [--profile <value>]

GLOBAL FLAGS
  --json             Format output as json.
  --no-banner        Disable the banner.
  --no-color         Disable color output.
  --profile=<value>  Specify the configuration profile to use.

DESCRIPTION
  Lists all authenticated accounts.

  Displays a list of all authenticated accounts, their selected platform organization, and the current team.

ALIASES
  $ axway auth ls
