AXWAY CLI, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.

ACCOUNT NAME             ORGANIZATION   CURRENT TEAM  REGION  EXPIRES
✔ test-auth-client-cert  Bar org (200)  n/a           US      {{delta}}
