AXWAY CLI, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.

ACCOUNT NAME               ORGANIZATION   CURRENT TEAM  REGION  EXPIRES
{{check}} test-auth-client-secret  Foo org (100)  n/a           US      {{delta}}    
