{{#cyan}}AXWAY CLI{{/cyan}}, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.{{{nodeDeprecationWarning}}}

ACCOUNT NAME        ORGANIZATION   CURRENT TEAM  REGION  EXPIRES
{{#green}}{{check}} test-auth-client{{/green}}  Foo org (100)  n/a           US      {{delta}}
