AXWAY CLI, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.

Add a team to a service account.

USAGE
  $ axway service-account add-team CLIENT-ID TEAM ROLE [--json] [--no-banner] [--no-color] [--profile <value>] [--org <value>] [--account <value>]

ARGUMENTS
  CLIENT-ID  The service account client id or name.
  TEAM       The team name or guid.
  ROLE       The team role.

FLAGS
  --account=<value>  The account to use within the active profile.
  --org=<value>      The organization name, id, or guid; defaults to the current org.

GLOBAL FLAGS
  --json             Format output as json.
  --no-banner        Disable the banner.
  --no-color         Disable color output.
  --profile=<value>  Specify the configuration profile to use.

DESCRIPTION
  Add a team to a service account.

  You must have administrative access to modify a service account.

