 ›   Error: Missing 3 required args:
 ›   client-id  The service account client id or name.
 ›   team       The team name or guid.
 ›   role       The team role.
 ›   See more help with --help

USAGE
  $ axway service-account add-team CLIENT-ID TEAM ROLE [--json] [--no-banner] [--no-color] [--profile <value>] [--org <value>] [--account <value>]

ARGUMENTS
  CLIENT-ID  The service account client id or name.
  TEAM       The team name or guid.
  ROLE       The team role.

FLAGS
  --account=<value>  The account to use within the active profile.
  --org=<value>      The organization name, id, or guid; defaults to the current org.

GLOBAL FLAGS
  --json             Format output as json.
  --no-banner        Disable the banner.
  --no-color         Disable color output.
  --profile=<value>  Specify the configuration profile to use.

