AXWAY CLI, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.

Account:      test-auth-client-secret
Organization: Foo org (1000)

Successfully add team Test Team to service account Test (test_629e1705-9cd7-4db7-9dfe-08aa47b0f3ad)
