{{#cyan}}AXWAY CLI{{/cyan}}, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.{{{nodeDeprecationWarning}}}

Download updates for installed packages

USAGE: {{#cyan}}axway pm update [options] [<package>]{{/cyan}}

UPDATE ARGUMENTS:
  {{#cyan}}package      {{/cyan}}  The package name to update

UPDATE OPTIONS:
  {{#cyan}}--json       {{/cyan}}  Outputs updated packages as JSON
  {{#cyan}}-y, --yes    {{/cyan}}  Automatic yes to prompts and run non-interactively

GLOBAL OPTIONS:
  {{#cyan}}--no-banner  {{/cyan}}  Suppress the banner
  {{#cyan}}--no-color   {{/cyan}}  Disable colors
  {{#cyan}}-h, --help   {{/cyan}}  Displays the help screen
  {{#cyan}}-v, --version{{/cyan}}  Outputs the version
