{{#cyan}}AXWAY CLI{{/cyan}}, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.{{{nodeDeprecationWarning}}}

The following packages have updates available:

  {{#bold}}acs{{/bold}}  2.1.9  →  {{versionWithColor}}

Downloading and installing {{#cyan}}acs@{{version}}{{/cyan}} [started]
Downloading {{#cyan}}acs@{{version}}{{/cyan}}
Installing {{#cyan}}acs@{{version}}{{/cyan}}
Registering {{#cyan}}acs@{{version}}{{/cyan}}
{{#cyan}}acs@{{version}}{{/cyan}} installed and set as active version
{{#cyan}}acs@{{version}}{{/cyan}} installed and set as active version [completed]

The following package versions can be purged:

  {{#bold}}acs{{/bold}}  {{version}}

To purge these unused packages, run: {{#cyan}}axway pm purge{{/cyan}}
