{{#cyan}}AXWAY CLI{{/cyan}}, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.

Checking {{#cyan}}acs{{/cyan}} [started]
Downloading and installing {{#cyan}}acs@2.1.10{{/cyan}}
Downloading {{#cyan}}acs@2.1.10{{/cyan}}
Installing {{#cyan}}acs@2.1.10{{/cyan}}
Registering {{#cyan}}acs@2.1.10{{/cyan}}
{{#cyan}}acs@2.1.10{{/cyan}} updated and set as active version [completed]
