{{#green}}{{check}}{{/green}} {{#greenBright}}"Environment/{{string}}" has successfully been updated.{{/greenBright}}
{{#green}}{{check}}{{/green}} {{#greenBright}}"APIService/{{string}}" in the scope "Environment/{{string}}" has successfully been created.{{/greenBright}}
{{#green}}{{check}}{{/green}} {{#greenBright}}"Secret/{{string}}" in the scope "Environment/{{string}}" has successfully been created.{{/greenBright}}
{{#green}}{{check}}{{/green}} {{#greenBright}}"Webhook/{{string}}" in the scope "Environment/{{string}}" has successfully been updated.{{/greenBright}}
