{{check}} "Environment/{{string}}" has successfully been updated.
{{check}} "APIService/{{string}}" in the scope "Environment/{{string}}" has successfully been created.
{{check}} "Secret/{{string}}" in the scope "Environment/{{string}}" has successfully been created.
{{check}} "Webhook/{{string}}" in the scope "Environment/{{string}}" has successfully been created.
