{{#green}}{{check}}{{/green}} {{#greenBright}}"Environment/{{string}}" has successfully been created.{{/greenBright}}
{{#red}}{{x}}{{/red}} {{#red}}"APIService/{{string}}" Validation error: Name is not valid.{{/red}}
{{#green}}{{check}}{{/green}} {{#greenBright}}"Secret/{{string}}" in the scope "Environment/{{string}}" has successfully been created.{{/greenBright}}
{{#green}}{{check}}{{/green}} {{#greenBright}}"Webhook/{{string}}" in the scope "Environment/{{string}}" has successfully been created.{{/greenBright}}
