{{check}} "Environment/{{string}}" has successfully been created.
{{x}} "APIService/{{string}}" Validation error: Name is not valid.
{{check}} "Secret/{{string}}" in the scope "Environment/{{string}}" has successfully been created.
{{check}} "Webhook/{{string}}" in the scope "Environment/{{string}}" has successfully been created.
