{{#cyan}}AXWAY CLI{{/cyan}}, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.{{{nodeDeprecationWarning}}}

Lists all service accounts.

USAGE: {{#cyan}}axway service-account list [options]{{/cyan}}

LIST OPTIONS:
  {{#cyan}}--account [name]    {{/cyan}}  The platform account to use
  {{#cyan}}--json              {{/cyan}}  Outputs service accounts as JSON
  {{#cyan}}--org [name|id|guid]{{/cyan}}  The organization name, id, or guid

GLOBAL OPTIONS:
  {{#cyan}}--no-banner         {{/cyan}}  Suppress the banner
  {{#cyan}}--no-color          {{/cyan}}  Disable colors
  {{#cyan}}-h, --help          {{/cyan}}  Displays the help screen
  {{#cyan}}-v, --version       {{/cyan}}  Outputs the version
