AXWAY CLI, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.

Add a user or service account to a team.

USAGE
  $ axway team user add TEAM USER [--json] [--no-banner] [--no-color] [--profile <value>] [--role <value>...] [--account <value>]

ARGUMENTS
  TEAM  The team name or guid
  USER  The user guid or email address or service account guid or client id

FLAGS
  --account=<value>  The account to use within the active profile.
  --role=<value>...  Assign one or more team roles to a user

GLOBAL FLAGS
  --json             Format output as json.
  --no-banner        Disable the banner.
  --no-color         Disable color output.
  --profile=<value>  Specify the configuration profile to use.

DESCRIPTION
  Add a user or service account to a team.

  The user or service account must already be registered on the platform.

  A team user must be assigned a platform role and optionally a product specific role. You may specify the roles with multiple --role "role" options or a single --role "role1,role2,role3" option with a comma-separated list of roles.

  To view available team user roles, run: "axway team user roles"

ALIASES
  $ axway team users add

EXAMPLES
  Add a user to a team with administrator privileges.

    $ axway team user add <team> <email> --role administrator

  Add a service account to a team with administrator privileges.

    $ axway team user add <team> <client_id> --role administrator

