{{#cyan}}AXWAY CLI{{/cyan}}, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.{{{nodeDeprecationWarning}}}

Account:      {{#cyan}}test-auth-client-secret{{/cyan}}
Organization: {{#cyan}}Foo org{{/cyan}} {{#gray}}(1000){{/gray}}
Team:         {{#cyan}}A Team{{/cyan}} {{#gray}}(60000){{/gray}}

NAME           TYPE     EMAIL             GUID                                  TEAMS  ROLES
Test1 Tester1  User     test1@domain.com  50000                                 3      administrator
Test2 Tester2  User     test2@domain.com  50001                                 1      developer
Test           Service                    629e1705-9cd7-4db7-9dfe-08aa47b0f3ad  1      developer
