AXWAY CLI, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.

Change a config setting.

USAGE
  $ axway config set KEY VALUE [--json] [--no-banner] [--no-color] [--profile <value>]

ARGUMENTS
  KEY    Config key to set.
  VALUE  Value to set.

GLOBAL FLAGS
  --json             Format output as json.
  --no-banner        Disable the banner.
  --no-color         Disable color output.
  --profile=<value>  Specify the configuration profile to use.

EXAMPLES
  Set a config setting.

    $ axway config set <key> <value>

