 ›   Error: Missing 1 required arg:
 ›   key  Config key to pop from.
 ›   See more help with --help

USAGE
  $ axway config pop KEY [--json] [--no-banner] [--no-color] [--profile <value>]

ARGUMENTS
  KEY  Config key to pop from.

GLOBAL FLAGS
  --json             Format output as json.
  --no-banner        Disable the banner.
  --no-color         Disable color output.
  --profile=<value>  Specify the configuration profile to use.

