AXWAY CLI, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.

Remove the last value in a list.

USAGE
  $ axway config pop KEY [--json] [--no-banner] [--no-color] [--profile <value>]

ARGUMENTS
  KEY  Config key to pop from.

GLOBAL FLAGS
  --json             Format output as json.
  --no-banner        Disable the banner.
  --no-color         Disable color output.
  --profile=<value>  Specify the configuration profile to use.

EXAMPLES
  Remove the last value in a list.

    $ axway config pop <key>

