{{#cyan}}AXWAY CLI{{/cyan}}, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.

Fetching metadata {{#cyan}}acs{{/cyan}} [started]
Downloading {{#cyan}}acs@{{version}}{{/cyan}}
Installing {{#cyan}}acs@{{version}}{{/cyan}}
Registering {{#cyan}}acs@{{version}}{{/cyan}}
Installed {{#cyan}}acs@{{version}}{{/cyan}} [completed]

To use this new extension, run:

{{#cyan}}  axway acs{{/cyan}}
