{{#cyan}}AXWAY CLI{{/cyan}}, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.

Installs an Axway CLI package

USAGE: {{#cyan}}axway pm install <package[@version]...> [options]{{/cyan}}

INSTALL ARGUMENTS:
  {{#cyan}}packages...  {{/cyan}}  One or more packages by name and version to install

INSTALL OPTIONS:
  {{#cyan}}--json       {{/cyan}}  Output installed package as JSON

PM OPTIONS:
  {{#cyan}}--env [env]  {{/cyan}}  The environment to use

GLOBAL OPTIONS:
  {{#cyan}}--no-banner  {{/cyan}}  Suppress the banner
  {{#cyan}}--no-color   {{/cyan}}  Disable colors
  {{#cyan}}-h, --help   {{/cyan}}  Displays the help screen
  {{#cyan}}-v, --version{{/cyan}}  Outputs the version
