{{#cyan}}AXWAY CLI{{/cyan}}, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.{{{nodeDeprecationWarning}}}

Fetching metadata {{#cyan}}acs{{/cyan}} [started]
{{#red}}Error: Unable to find the "npm" executable. Please ensure you have "npm" installed on your machine{{/red}}
{{#red}}Error: Unable to find the "npm" executable. Please ensure you have "npm" installed on your machine{{/red}} [failed]
