{{#cyan}}AXWAY CLI{{/cyan}}, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.{{{nodeDeprecationWarning}}}

Fetching metadata {{#cyan}}abcdef{{/cyan}} [started]
{{#red}}Error: Package "abcdef" not found{{/red}}
{{#red}}Error: Package "abcdef" not found{{/red}} [failed]
