AXWAY CLI, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.

Display a specific config setting.

USAGE
  $ axway config get [KEY] [--json] [--no-banner] [--no-color] [--profile <value>]

ARGUMENTS
  [KEY]  Config key to get.

GLOBAL FLAGS
  --json             Format output as json.
  --no-banner        Disable the banner.
  --no-color         Disable color output.
  --profile=<value>  Specify the configuration profile to use.

EXAMPLES
  Get a specific config setting.

    $ axway config get get <key>

