AXWAY CLI, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.

Display info for an authenticated account

USAGE
  $ axway auth whoami [ACCOUNTNAME] [--json] [--no-banner] [--no-color] [--profile <value>] [--account <value>]

ARGUMENTS
  [ACCOUNTNAME]  The account to display.

FLAGS
  --account=<value>  The account to use within the active profile.

GLOBAL FLAGS
  --json             Format output as json.
  --no-banner        Disable the banner.
  --no-color         Disable color output.
  --profile=<value>  Specify the configuration profile to use.

DESCRIPTION
  Display info for an authenticated account
