{{#cyan}}AXWAY CLI{{/cyan}}, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.{{{nodeDeprecationWarning}}}

ACCOUNT NAME               ORGANIZATION   TYPE      EXPIRES  ENVIRONMENT          
{{#green}}✔ test_client:foo@bar.com{{/green}}  Foo org (100)  Platform  {{delta}}  prod (localhost:8555)
