{{#cyan}}AXWAY CLI{{/cyan}}, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.{{{nodeDeprecationWarning}}}

ACCOUNT NAME               ORGANIZATION   REGION  TYPE      EXPIRES
{{#green}}{{check}} test_client:foo@bar.com{{/green}}  Foo org (100)  US      Platform  {{delta}}
