{{#cyan}}AXWAY CLI{{/cyan}}, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.

ACCOUNT NAME                   ORGANIZATION   TYPE      EXPIRES  ENVIRONMENT          
{{#green}}✔ test_client:foo@bar.com{{/green}}      Foo org (100)  Platform  {{delta}}  prod (localhost:8555)
  test_client:service@bar.com  n/a            Service   {{delta}}  prod (localhost:8555)
