{{#cyan}}AXWAY CLI{{/cyan}}, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.{{{nodeDeprecationWarning}}}

ACCOUNT NAME                   ORGANIZATION   CURRENT TEAM    REGION  TYPE      EXPIRES
{{#green}}{{check}} test_client:service@bar.com{{/green}}  Foo org (100)  A Team (60000)  US      Platform  {{delta}}
