{{#cyan}}AXWAY CLI{{/cyan}}, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.{{{nodeDeprecationWarning}}}

ACCOUNT NAME                   ORGANIZATION  TEAM  REGION  TYPE     EXPIRES
{{#green}}{{check}} test_client:service@bar.com{{/green}}  n/a           n/a   US      Service  {{delta}}
