{{#cyan}}AXWAY CLI{{/cyan}}, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.{{{nodeDeprecationWarning}}}

NAME  VERSIONS  TYPE                DESCRIPTION                  
acs   {{version}} amplify-cli-plugin  {{string}}
