{{#cyan}}AXWAY CLI{{/cyan}}, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.{{{nodeDeprecationWarning}}}

Searches registry for packages

USAGE: {{#cyan}}axway pm search [options] [<keyword>]{{/cyan}}

SEARCH ARGUMENTS:
  {{#cyan}}keyword        {{/cyan}}  The package name or keywords

SEARCH OPTIONS:
  {{#cyan}}--json         {{/cyan}}  Outputs packages as JSON
  {{#cyan}}--limit [count]{{/cyan}}  The maximum number of packages to return (default: 50)
  {{#cyan}}--type [type]  {{/cyan}}  Type of package to search

PM OPTIONS:
  {{#cyan}}--env [env]    {{/cyan}}  The environment to use

GLOBAL OPTIONS:
  {{#cyan}}--no-banner    {{/cyan}}  Suppress the banner
  {{#cyan}}--no-color     {{/cyan}}  Disable colors
  {{#cyan}}-h, --help     {{/cyan}}  Displays the help screen
  {{#cyan}}-v, --version  {{/cyan}}  Outputs the version
