AXWAY CLI, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.

Update a service account.

USAGE
  $ axway service-account update CLIENT-ID [--json] [--no-banner] [--no-color] [--profile <value>] [--desc <value>] [--name <value>] [--org <value>] [--public-key <value>] [--role <value>...] [--secret <value>] [--account <value>]

ARGUMENTS
  CLIENT-ID  The service account client id or name.

FLAGS
  --account=<value>     The account to use within the active profile.
  --desc=<value>        The description of the service account.
  --name=<value>        Friendly name to use for display.
  --org=<value>         The organization name, id, or guid.
  --public-key=<value>  The path to the public key.
  --role=<value>...     Assign one or more organization roles to the service account.
  --secret=<value>      A custom client secret key.

GLOBAL FLAGS
  --json             Format output as json.
  --no-banner        Disable the banner.
  --no-color         Disable color output.
  --profile=<value>  Specify the configuration profile to use.

DESCRIPTION
  Update a service account.

  Multiple values may be changed in a single call.

  You cannot change a service account's authentication method from client secret to public key and vice versa.

EXAMPLES
  Change a service account name, description, and role

    $ axway service-account update <name/client-id> --name <new_name> --desc <desc> --role administrator

  Update a service account's client secret key

    $ axway service-account update <name/client-id> --secret <new_secret>

  Update a service account's public key

    $ axway service-account update <name/client-id> --public-key /path/to/public_key.pem

