{{#cyan}}AXWAY CLI{{/cyan}}, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.{{{nodeDeprecationWarning}}}

{{#yellow}} ┃ ATTENTION! Your current architecture "ia32" has been deprecated and is unsupported{{/yellow}}
{{#yellow}} ┃ in Axway CLI v3 and newer.{{/yellow}}

The Axway CLI is a unified command line interface for the Axway Amplify Platform.

USAGE: {{#cyan}}axway <command> [options]{{/cyan}}

COMMANDS:
  {{#cyan}}auth         {{/cyan}}  Authenticate machines with the Axway Amplify platform
  {{#cyan}}config       {{/cyan}}  Manage configuration options
  {{#cyan}}org          {{/cyan}}  Manage Amplify platform organizations
  {{#cyan}}pm           {{/cyan}}  Package manager for Axway products
  {{#cyan}}team         {{/cyan}}  Manage Amplify organization teams
  {{#cyan}}user         {{/cyan}}  Manage your user settings

GLOBAL OPTIONS:
  {{#cyan}}--no-banner  {{/cyan}}  Suppress the banner
  {{#cyan}}--no-color   {{/cyan}}  Disable colors
  {{#cyan}}-h, --help   {{/cyan}}  Displays the help screen
  {{#cyan}}-v, --version{{/cyan}}  Outputs the version
