{{#cyan}}AXWAY CLI{{/cyan}}, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.{{{nodeDeprecationWarning}}}

{{#yellow}} ┃ ATTENTION! Your current architecture "ia32" is not supported.{{/yellow}}

The Axway CLI is a unified command line interface for the Axway Amplify Platform.

USAGE: {{#cyan}}axway <command> [options]{{/cyan}}

COMMANDS:
  {{#cyan}}auth           {{/cyan}}  Authenticate with the Axway Amplify platform
  {{#cyan}}config         {{/cyan}}  Manage configuration options
  {{#cyan}}org            {{/cyan}}  Manage Amplify platform organizations
  {{#cyan}}pm             {{/cyan}}  Package manager for Axway products
  {{#cyan}}service-account{{/cyan}}  Create and manage service accounts
  {{#cyan}}team           {{/cyan}}  Manage Amplify organization teams
  {{#cyan}}telemetry      {{/cyan}}  Opt-in or out of telemetry to improve Axway products
  {{#cyan}}user           {{/cyan}}  Manage your user settings

GLOBAL OPTIONS:
  {{#cyan}}--no-banner    {{/cyan}}  Suppress the banner
  {{#cyan}}--no-color     {{/cyan}}  Disable colors
  {{#cyan}}-h, --help     {{/cyan}}  Displays the help screen
  {{#cyan}}-v, --version  {{/cyan}}  Outputs the version
