AXWAY CLI, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.{{{nodeDeprecationWarningNoColor}}}

The Axway CLI is a unified command line interface for the Axway Amplify Platform.

USAGE: axway <command> [options]

COMMANDS:
  auth           Authenticate machines with the Axway Amplify platform
  config         Manage configuration options
  org            Manage Amplify platform organizations
  pm             Package manager for Axway products
  team           Manage Amplify organization teams
  telemetry      Opt-in or out of telemetry to improve Axway products
  user           Manage your user settings

GLOBAL OPTIONS:
  --no-banner    Suppress the banner
  --no-color     Disable colors
  -h, --help     Displays the help screen
  -v, --version  Outputs the version
