{{#cyan}}AXWAY CLI{{/cyan}}, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.{{{nodeDeprecationWarning}}}

The Axway CLI auth command allows you to authenticate with the Amplify platform
under one or more accounts and switch between them. You can log in using your
platform account as well as one or more service accounts at the same time.

To log in using a platform account, a desktop web browser is required. Headless
environments, such as a SSH terminal, are not supported when authenticating
into platform accounts.

A service account can be used for both desktop and headless environments.
However, if authenticating in a headless environment, you must set the token
store type to “file”:

  {{#cyan}}axway config set auth.tokenStoreType file{{/cyan}}

USAGE: {{#cyan}}axway auth <command> [options]{{/cyan}}

AUTH COMMANDS:
  {{#cyan}}ls, list     {{/cyan}}  Lists all authenticated accounts
  {{#cyan}}login        {{/cyan}}  Log in to the Axway Amplify Platform
  {{#cyan}}logout       {{/cyan}}  Log out all or specific accounts
  {{#cyan}}switch       {{/cyan}}  Select default account, organization, and team
  {{#cyan}}whoami       {{/cyan}}  Display info for an authenticated account

GLOBAL OPTIONS:
  {{#cyan}}--no-banner  {{/cyan}}  Suppress the banner
  {{#cyan}}--no-color   {{/cyan}}  Disable colors
  {{#cyan}}-h, --help   {{/cyan}}  Displays the help screen
  {{#cyan}}-v, --version{{/cyan}}  Outputs the version

EXAMPLES:

  Log into a platform account using a web browser:
    {{#cyan}}axway auth login{{/cyan}}

  Log into a service account using a PEM formatted secret key:
    {{#cyan}}axway auth login --client-id <id> --secret-file <path>{{/cyan}}

  Log into a service account using a client secret:
    {{#cyan}}axway auth login --client-id <id> --client-secret <token>{{/cyan}}

  List all authenticated accounts:
    {{#cyan}}axway auth list{{/cyan}}

  Show the current default selected account:
    {{#cyan}}axway auth whoami{{/cyan}}

  Switch default account and org:
    {{#cyan}}axway auth switch{{/cyan}}

  Log out of an account:
    {{#cyan}}axway auth logout{{/cyan}}
