{{#cyan}}AXWAY CLI{{/cyan}}, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.{{{nodeDeprecationWarning}}}

Account:      {{#cyan}}test_client:foo@bar.com{{/cyan}}
Date Range:   {{#cyan}}2/1/2021{{/cyan}} - {{#cyan}}2/28/2021{{/cyan}}

DATE       DESCRIPTION                                                      EVENT NAME                     ORGANIZATION
2/5/2021   User {{#cyan}}test1@domain.com{{/cyan}} removed from team {{#cyan}}Default Team{{/cyan}}             platform.team.user.remove      Foo org
2/5/2021   User {{#cyan}}test1@domain.com{{/cyan}} added to team {{#cyan}}Default Team{{/cyan}}                 platform.team.user.add         Foo org
2/9/2021   Roles changed for user {{#cyan}}test1@domain.com{{/cyan}} in organization {{#cyan}}Foo org{{/cyan}}  platform.org.user.role.update  Foo org
           ├─ {{#cyan}}Roles{{/cyan}} of {{#cyan}}"developer"{{/cyan}} was removed
           └─ {{#cyan}}Roles{{/cyan}} of {{#cyan}}"administrator"{{/cyan}} was added
2/15/2021  User updated                                                     platform.user.update           Foo org
           └─ {{#cyan}}Firstname{{/cyan}} changed from {{#cyan}}"Bar"{{/cyan}} to {{#cyan}}"Foo"{{/cyan}}
