AXWAY CLI, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.

Create a pem formatted public/private key pair.

USAGE
  $ axway service-account generate-keypair [--json] [--no-banner] [--no-color] [--yes] [--private-key <value>] [--public-key <value>]

FLAGS
  --private-key=<value>  The file to output the private key to
  --public-key=<value>   The file to output the public key to
  --yes                  Automatic yes to overwrite existing output files

GLOBAL FLAGS
  --json       Format output as json.
  --no-banner  Disable the banner.
  --no-color   Disable color output.

EXAMPLES
  Create a keypair and be prompted for the output filenames

    $ axway service-account generate-keypair

  Create a keypair and use the default output filenames and overwrite existing files

    $ axway service-account generate-keypair --yes

  Create a keypair and write the files using specific names

    $ axway service-account generate-keypair --public-key public.pem --private-key private.pem

  Create a keypair and output to screen as JSON instead of writing to files

    $ axway service-account generate-keypair --json

  Create a keypair and output to screen as JSON and write them to files

    $ axway service-account generate-keypair --json --yes

