{{#cyan}}AXWAY CLI{{/cyan}}, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.{{{nodeDeprecationWarning}}}

Purging {{#cyan}}acs@{{version}}{{/cyan}} [started]
Purging {{#cyan}}acs@{{version}}{{/cyan}} [started]
Purging {{#cyan}}acs@{{version}}{{/cyan}} [completed]
Purging {{#cyan}}acs@{{version}}{{/cyan}} [completed]

Removed 2 packages:
  {{#cyan}}acs@2.1.8{{/cyan}}
  {{#cyan}}acs@2.1.10{{/cyan}}
