{{#cyan}}AXWAY CLI{{/cyan}}, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.

Purging {{#cyan}}acs@2.1.9{{/cyan}} [started]
Purging {{#cyan}}acs@2.1.9{{/cyan}} [completed]

Removed 1 package:
  {{#cyan}}acs@2.1.9{{/cyan}}
