{{#cyan}}AXWAY CLI{{/cyan}}, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.{{{nodeDeprecationWarning}}}

The following packages can be purged:

  {{#bold}}acs{{/bold}}  2.1.9

Purging {{#cyan}}acs@2.1.9{{/cyan}} [started]
Purged {{#cyan}}acs@2.1.9{{/cyan}} [completed]
