{{#cyan}}AXWAY CLI{{/cyan}}, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.{{{nodeDeprecationWarning}}}

Opens a web browser to the change your password page

USAGE: {{#cyan}}axway user credentials [options]{{/cyan}}

GLOBAL OPTIONS:
  {{#cyan}}--no-banner         {{/cyan}}  Suppress the banner
  {{#cyan}}--no-color          {{/cyan}}  Disable colors
  {{#cyan}}-h, --help          {{/cyan}}  Displays the help screen
  {{#cyan}}-v, --version       {{/cyan}}  Outputs the version