{{#cyan}}AXWAY CLI{{/cyan}}, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.{{{nodeDeprecationWarning}}}

Opening web browser to {{#cyan}}https://platform.axway.com/user/credentials{{/cyan}}