{{#cyan}}AXWAY CLI{{/cyan}}, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.

Manage Amplify Platform organizations.

{{#bold}}USAGE{{/bold}}
  $ {{#cyan}}axway{{/cyan}} {{#cyan}}org{{/cyan}} [--no-banner] [--no-color] [--profile <value>]

{{#bold}}GLOBAL FLAGS{{/bold}}
  {{#cyan}}--no-banner{{/cyan}}        Disable the banner.
  {{#cyan}}--no-color{{/cyan}}         Disable color output.
  {{#cyan}}--profile={{#underline}}<value>{{/underline}}{{/cyan}}  Specify the configuration profile to use.

{{#bold}}DESCRIPTION{{/bold}}
  Manage Amplify Platform organizations.

  You must be authenticated to view or manage organizations.
  Run "{{#cyan}}axway auth login{{/cyan}}" to authenticate.

  You may specify an organization by name, id, or guid.

{{#bold}}EXAMPLES{{/bold}}
  List organizations

    $ axway org list

  View your currently selected organization's details

    $ axway org view

  View a specific organization's details

    $ axway org view <org>

  Rename an organization

    $ axway org rename <org> <new name>

  View activity report for a specific organization

    $ axway org activity <org>

  View usage report for a specific organization

    $ axway org usage <org>

  List users in your currently selected organization

    $ axway org user list

  List users for a specific organization

    $ axway org user list <org>

  View available user roles

    $ axway org user roles

  Add a user to an organization

    $ axway org user add <org> <email> --role <role>

  Change a user's role within an organization

    $ axway org user update <org> <user> --role <role>

  Remove a user from an organization

    $ axway org user remove <org> <user>

{{#bold}}TOPICS{{/bold}}
  {{#cyan}}org user{{/cyan}}  Manage organization users.

{{#bold}}COMMANDS{{/bold}}
  {{#cyan}}org activity{{/cyan}}  Display organization activity report.
  {{#cyan}}org idp{{/cyan}}       Manage organization identity provider settings.
  {{#cyan}}org list{{/cyan}}      List organizations.
  {{#cyan}}org rename{{/cyan}}    Rename an organization.
  {{#cyan}}org usage{{/cyan}}     Display organization usage report.
  {{#cyan}}org view{{/cyan}}      Display organization details.

