{{#cyan}}AXWAY CLI{{/cyan}}, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.{{{nodeDeprecationWarning}}}

Account: {{#cyan}}test_client:foo@bar.com{{/cyan}}

ORGANIZATION  GUID  ID
  Bar org     2000  200
{{#green}}{{check}} Foo org{{/green}}     1000  100
