{{#cyan}}AXWAY CLI{{/cyan}}, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.{{{nodeDeprecationWarning}}}

Account:      {{#cyan}}test_client:foo@bar.com{{/cyan}}
Organization: {{#cyan}}Foo org{{/cyan}} {{#gray}}(1000){{/gray}}

SERVICE ACCOUNT
  Name:         {{#cyan}}bar{{/cyan}}
  Client ID:    {{#cyan}}bar-bar-bar{{/cyan}}
  Description:  {{#cyan}}Bar works{{/cyan}}
  Date Created: {{#cyan}}{{string}} {{string}} {{string}}{{/cyan}}

AUTHENTICATION
  Method:       {{#cyan}}Client Secret{{/cyan}}

ORG ROLES
  some_admin

TEAMS
  No teams found
