{{#cyan}}AXWAY CLI{{/cyan}}, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.{{{nodeDeprecationWarning}}}

Remove the last value in a list

USAGE: {{#cyan}}axway config pop <key> [options]{{/cyan}}

POP ARGUMENTS:
  {{#cyan}}key{{/cyan}}

CONFIG OPTIONS:
  {{#cyan}}--json       {{/cyan}}  Outputs the config as JSON

GLOBAL OPTIONS:
  {{#cyan}}--no-banner  {{/cyan}}  Suppress the banner
  {{#cyan}}--no-color   {{/cyan}}  Disable colors
  {{#cyan}}-h, --help   {{/cyan}}  Displays the help screen
  {{#cyan}}-v, --version{{/cyan}}  Outputs the version
