{{#cyan}}AXWAY CLI{{/cyan}}, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.

Unregistering {{#cyan}}acs{{/cyan}} extension [started]
Uninstalling {{#cyan}}acs@{{version}}{{/cyan}} {{#gray}}({{{packagePath}}}){{/gray}} [started]
Unregistering {{#cyan}}acs{{/cyan}} extension [completed]
Uninstalling {{#cyan}}acs@{{version}}{{/cyan}} {{#gray}}({{{packagePath}}}){{/gray}} [completed]
