{{#cyan}}AXWAY CLI{{/cyan}}, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.{{{nodeDeprecationWarning}}}

Removes the specified package

USAGE: {{#cyan}}axway pm uninstall <package[@version]> [options]{{/cyan}}

UNINSTALL ARGUMENTS:
  {{#cyan}}package      {{/cyan}}  The package name and version to uninstall

UNINSTALL OPTIONS:
  {{#cyan}}--json       {{/cyan}}  Outputs removed packages as JSON

PM OPTIONS:
  {{#cyan}}--env [env]  {{/cyan}}  The environment to use

GLOBAL OPTIONS:
  {{#cyan}}--no-banner  {{/cyan}}  Suppress the banner
  {{#cyan}}--no-color   {{/cyan}}  Disable colors
  {{#cyan}}-h, --help   {{/cyan}}  Displays the help screen
  {{#cyan}}-v, --version{{/cyan}}  Outputs the version
