AXWAY CLI, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.

Select default account and team.

USAGE
  $ axway auth switch [--json] [--no-banner] [--no-color] [--profile <value>] [--account <value>] [--team <value>]

FLAGS
  --account=<value>  The account to use within the active profile.
  --team=<value>     The team to use for the selected account.

GLOBAL FLAGS
  --json             Format output as json.
  --no-banner        Disable the banner.
  --no-color         Disable color output.
  --profile=<value>  Specify the configuration profile to use.

DESCRIPTION
  Select default account and team.

  Once authenticated, the "switch" command allows you to change the default account and current team to use for "axway" commands.

  Changing the current team will only affect your local machine and does not change the actual default team.

  The --team option is required when --json flag is set and there is more than one team.
