AXWAY CLI, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.

Account:      test-auth-client-secret
Organization: Foo org (1000)
Date Range:   {{{localeDateTime}}} - {{{localeDateTime}}}

DATE                   DESCRIPTION                                       EVENT NAME               ORGANIZATION
{{{localeDateTime}}}  User test1@domain.com added to team Default Team  platform.team.user.add   Foo org
{{{localeDateTime}}}  Team B Team created                               platform.team.create     Foo org
{{{localeDateTime}}}  Session created for user foo@bar.com              platform.session.create  n/a
