{{#cyan}}AXWAY CLI{{/cyan}}, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.{{{nodeDeprecationWarning}}}

Account:      {{#cyan}}test-auth-client{{/cyan}}
Organization: {{#cyan}}Foo org{{/cyan}} {{#gray}}(1000){{/gray}}
Date Range:   {{#cyan}}{{{localeDateTime}}}{{/cyan}} - {{#cyan}}{{{localeDateTime}}}{{/cyan}}

DATE{{whitespace}}DESCRIPTION{{whitespace}}EVENT NAME{{whitespace}}ORGANIZATION
{{{localeDateTime}}}  User {{#cyan}}test1@domain.com{{/cyan}} added to team {{#cyan}}Default Team{{/cyan}}  platform.team.user.add   Foo org
{{{localeDateTime}}}  Team {{#cyan}}B Team{{/cyan}} created                               platform.team.create     Foo org
{{{localeDateTime}}}  Session created for user {{#cyan}}foo@bar.com{{/cyan}}              platform.session.create  {{#gray}}n/a{{/gray}}
