AXWAY CLI, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.

Display organization activity report.

USAGE
  $ axway org activity [ORG] [--json] [--no-banner] [--no-color] [--profile <value>] [--from <value>] [--to <value>] [--month <value>] [--account <value>]

ARGUMENTS
  [ORG]  The organization name, id, or guid; defaults to the current org.

FLAGS
  --account=<value>  The account to use within the active profile.
  --from=<value>     The start date (yyyy-mm-dd).
  --month=<value>    A month date range; overrides --to and --from (mm|yyyy-mm).
  --to=<value>       The end date (yyyy-mm-dd).

GLOBAL FLAGS
  --json             Format output as json.
  --no-banner        Disable the banner.
  --no-color         Disable color output.
  --profile=<value>  Specify the configuration profile to use.

DESCRIPTION
  Display organization activity report.

  You must be authenticated to view or manage organizations.
  Run "axway auth login" to authenticate.

EXAMPLES
  Display organization activity for the past 14 days

    $ axway org activity <org>

  Display organization activity for a specific date range

    $ axway org activity <org> --from {{year}}-04-01 --to {{year}}-04-30

  Display organization activity for the current month

    $ axway org activity <org> --month

