{{#cyan}}AXWAY CLI{{/cyan}}, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.{{{nodeDeprecationWarning}}}

Account:      {{#cyan}}test-auth-client-secret{{/cyan}}
Organization: {{#cyan}}Foo org{{/cyan}} {{#gray}}(1000){{/gray}}

CLIENT ID                                  NAME  AUTH METHOD    TEAMS  ROLES  DATE CREATED
{{#cyan}}test_629e1705-9cd7-4db7-9dfe-08aa47b0f3ad{{/cyan}}  Test  Client Secret         n/a    3/24/2021
