{{#cyan}}AXWAY CLI{{/cyan}}, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.{{{nodeDeprecationWarning}}}

You are logged into {{#cyan}}Foo org{{/cyan}} {{#gray}}(1000){{/gray}} as {{#cyan}}test1@domain.com{{/cyan}}.
The current region is set to {{#cyan}}US{{/cyan}}.

ORGANIZATION  GUID  ID
{{#green}}✔ Foo org{{/green}}     1000  100
  Bar org     2000  200
  Baz org     3000  300

ROLES            DESCRIPTION    TYPE
  {{#cyan}}administrator{{/cyan}}  Administrator  Platform

"Foo org" TEAMS
{{#green}}✔ A Team{{/green}}  60000

TEAM ROLES       DESCRIPTION
  {{#cyan}}administrator{{/cyan}}  Administrator
