{{#cyan}}AXWAY CLI{{/cyan}}, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.

Display info for an authenticated account

USAGE: {{#cyan}}axway auth whoami [options] [<account-name>]{{/cyan}}

WHOAMI ARGUMENTS:
  {{#cyan}}account-name {{/cyan}}  The account to display

WHOAMI OPTIONS:
  {{#cyan}}--json       {{/cyan}}  Outputs accounts as JSON

AUTH OPTIONS:
  {{#cyan}}--env [name] {{/cyan}}  The environment to use

GLOBAL OPTIONS:
  {{#cyan}}--no-banner  {{/cyan}}  Suppress the banner
  {{#cyan}}--no-color   {{/cyan}}  Disable colors
  {{#cyan}}-h, --help   {{/cyan}}  Displays the help screen
  {{#cyan}}-v, --version{{/cyan}}  Outputs the version
