{{#cyan}}AXWAY CLI{{/cyan}}, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.

Activates a specific package version

USAGE: {{#cyan}}axway pm use <package[@version]> [options]{{/cyan}}

USE ARGUMENTS:
  {{#cyan}}package      {{/cyan}}  The package version or latest to activate

USE OPTIONS:
  {{#cyan}}--json       {{/cyan}}  Outputs activated package as JSON

PM OPTIONS:
  {{#cyan}}--env [env]  {{/cyan}}  The environment to use

GLOBAL OPTIONS:
  {{#cyan}}--no-banner  {{/cyan}}  Suppress the banner
  {{#cyan}}--no-color   {{/cyan}}  Disable colors
  {{#cyan}}-h, --help   {{/cyan}}  Displays the help screen
  {{#cyan}}-v, --version{{/cyan}}  Outputs the version
