{{#cyan}}AXWAY CLI{{/cyan}}, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.{{{nodeDeprecationWarning}}}

Removes all non-active, managed packages

USAGE: {{#cyan}}axway pm purge [options] [<package>]{{/cyan}}

PURGE ARGUMENTS:
  {{#cyan}}package      {{/cyan}}  Name of the package to purge old versions for

PURGE OPTIONS:
  {{#cyan}}--json       {{/cyan}}  Outputs the purged packages as JSON
  {{#cyan}}-y, --yes    {{/cyan}}  Automatic yes to prompts and run non-interactively

GLOBAL OPTIONS:
  {{#cyan}}--no-banner  {{/cyan}}  Suppress the banner
  {{#cyan}}--no-color   {{/cyan}}  Disable colors
  {{#cyan}}-h, --help   {{/cyan}}  Displays the help screen
  {{#cyan}}-v, --version{{/cyan}}  Outputs the version
