{{#cyan}}AXWAY CLI{{/cyan}}, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.{{{nodeDeprecationWarning}}}

You are already logged into {{#cyan}}Foo org{{/cyan}} {{#gray}}(1000){{/gray}} as {{#cyan}}test1@domain.com{{/cyan}}.
Org Roles:   {{#cyan}}Administrator{{/cyan}}
Team:        {{#cyan}}A Team{{/cyan}} {{#gray}}(60000){{/gray}}
Team Roles:  {{#cyan}}Administrator{{/cyan}}
Region:      {{#cyan}}US{{/cyan}}
