{{#cyan}}AXWAY CLI{{/cyan}}, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.{{{nodeDeprecationWarning}}}

Log in to the Axway Amplify Platform using one or more service accounts at
the same time.

Once authenticated, the account's current team is set to its configured default
team to use for "axway" commands.

USAGE: {{#cyan}}axway auth login [options]{{/cyan}}

LOGIN OPTIONS:
  {{#cyan}}--client-id [id]         {{/cyan}}  The service account's client ID
  {{#cyan}}-c, --client-secret [key]{{/cyan}}  The service account's client secret key
  {{#cyan}}-s, --secret-file [path] {{/cyan}}  Path to the PEM formatted private key
{{#gray}}General:{{/gray}}
  {{#cyan}}--force                  {{/cyan}}  Re-authenticate even if the account is already authenticated
  {{#cyan}}--json                   {{/cyan}}  Outputs authenticated account as JSON

GLOBAL OPTIONS:
  {{#cyan}}--no-banner              {{/cyan}}  Suppress the banner
  {{#cyan}}--no-color               {{/cyan}}  Disable colors
  {{#cyan}}-h, --help               {{/cyan}}  Displays the help screen
  {{#cyan}}-v, --version            {{/cyan}}  Outputs the version

EXAMPLES:

  Log in with authentication method prompts:
    {{#cyan}}axway auth login{{/cyan}}

  Log into a service account using a PEM formatted secret key:
    {{#cyan}}axway auth login --client-id <id> --secret-file <path>{{/cyan}}

  Log into a service account using a client secret:
    {{#cyan}}axway auth login --client-id <id> --client-secret <token>{{/cyan}}
