{{#cyan}}AXWAY CLI{{/cyan}}, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.{{{nodeDeprecationWarning}}}

Log in to the Axway Amplify Platform.

USAGE: {{#cyan}}axway auth login [options]{{/cyan}}

LOGIN OPTIONS:
{{#gray}}General:{{/gray}}
  {{#cyan}}--client-id [id]         {{/cyan}}  The CLI specific client ID
  {{#cyan}}--force                  {{/cyan}}  Re-authenticate even if the account is already authenticated
  {{#cyan}}--json                   {{/cyan}}  Outputs authenticated account as JSON
  {{#cyan}}--no-launch-browser      {{/cyan}}  Display the authentication URL instead of opening it in the default web browser
{{#gray}}Service Account:{{/gray}}
  {{#cyan}}-c, --client-secret [key]{{/cyan}}  A secret key used to authenticate
  {{#cyan}}-p, --password [pass]    {{/cyan}}  Platform tooling password to use with --client-secret or --secret-file
  {{#cyan}}-s, --secret-file [path] {{/cyan}}  Path to the PEM formatted private key used to sign JWT
  {{#cyan}}-u, --username [user]    {{/cyan}}  Platform tooling username to use with --client-secret or --secret-file

AUTH OPTIONS:
  {{#cyan}}--env [name]             {{/cyan}}  The environment to use

GLOBAL OPTIONS:
  {{#cyan}}--no-banner              {{/cyan}}  Suppress the banner
  {{#cyan}}--no-color               {{/cyan}}  Disable colors
  {{#cyan}}-h, --help               {{/cyan}}  Displays the help screen
  {{#cyan}}-v, --version            {{/cyan}}  Outputs the version

EXAMPLES:

  Log into a platform account using a web browser:
    {{#cyan}}axway auth login{{/cyan}}

  Log into a service account using a PEM formatted secret key:
    {{#cyan}}axway auth login --client-id <id> --secret-file <path>{{/cyan}}

  Log into a service account using a client secret:
    {{#cyan}}axway auth login --client-id <id> --client-secret <token>{{/cyan}}

  Log into a service account with platform tooling credentials:
    {{#cyan}}axway auth login --client-id <id> --secret-file <path> --username <user>{{/cyan}}
  or
    {{#cyan}}axway auth login --client-id <id> --client-secret <key> --username <user>{{/cyan}}
