{{#cyan}}AXWAY CLI{{/cyan}}, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.

Launching web browser to login...
You are logged into {{#cyan}}Foo org{{/cyan}} as {{#cyan}}test1@domain.com{{/cyan}}.
This account has been set as the default
