{{#cyan}}AXWAY CLI{{/cyan}}, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.{{{nodeDeprecationWarning}}}

You are logged into a {{#cyan}}platform{{/cyan}} account in organization {{#cyan}}Foo org{{/cyan}} {{#gray}}(1000){{/gray}} as {{#cyan}}test1@domain.com{{/cyan}}.
The current region is set to {{#cyan}}US{{/cyan}}.

ORGANIZATION  GUID  ORG ID
{{#green}}{{check}} Foo org{{/green}}     1000  100
  Bar org     2000  200
  Baz org     3000  300

"FOO ORG" ROLES  DESCRIPTION    TYPE
  administrator  Administrator  Platform

"FOO ORG" TEAMS  GUID   ROLE
{{#green}}{{check}} A Team{{/green}}         60000  administrator

This account has been set as the default.
