{{#cyan}}AXWAY CLI{{/cyan}}, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.{{{nodeDeprecationWarning}}}

You are logged in as {{#cyan}}service@bar.com{{/cyan}}
Region:  {{#cyan}}US{{/cyan}}

This account has been set as the default.
