{{#cyan}}AXWAY CLI{{/cyan}}, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.{{{nodeDeprecationWarning}}}

You are logged into a {{#cyan}}service{{/cyan}} account as {{#cyan}}service@bar.com{{/cyan}}.
The current region is set to {{#cyan}}US{{/cyan}}.

This account has been set as the default.
