{{#cyan}}AXWAY CLI{{/cyan}}, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.{{{nodeDeprecationWarning}}}

You are logged in as {{#cyan}}service@bar.com{{/cyan}}
Region:  {{#cyan}}US{{/cyan}}

To make this account the default, run:
  {{#cyan}}axway config set auth.defaultAccount test_client:service@bar.com{{/cyan}}
