{{#cyan}}AXWAY CLI{{/cyan}}, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.{{{nodeDeprecationWarning}}}

Manage Amplify Platform organizations.

USAGE: {{#cyan}}axway org <command> [options]{{/cyan}}

ORG COMMANDS:
  {{#cyan}}activity     {{/cyan}}  Display organization activity report
  {{#cyan}}idp          {{/cyan}}  Manage organization identity provider settings
  {{#cyan}}ls, list     {{/cyan}}  List organizations
  {{#cyan}}rename       {{/cyan}}  Rename an organization
  {{#cyan}}usage        {{/cyan}}  Display organization usage report
  {{#cyan}}user         {{/cyan}}  Manage organization users
  {{#cyan}}view         {{/cyan}}  View organization information

GLOBAL OPTIONS:
  {{#cyan}}--no-banner  {{/cyan}}  Suppress the banner
  {{#cyan}}--no-color   {{/cyan}}  Disable colors
  {{#cyan}}-h, --help   {{/cyan}}  Displays the help screen
  {{#cyan}}-v, --version{{/cyan}}  Outputs the version

GENERAL ORGANIZATION EXAMPLES:

  You must be authenticated to view or manage organizations.
  Run {{#cyan}}"axway auth login"{{/cyan}} to authenticate.

  You may specify an organization by name, id, or guid.

  List organizations:
    {{#cyan}}axway org list{{/cyan}}

  View your currently selected organization's details:
    {{#cyan}}axway org view{{/cyan}}

  View a specific organization's details:
    {{#cyan}}axway org view <org>{{/cyan}}

  Rename an organization:
    {{#cyan}}axway org rename <org> <new name>{{/cyan}}

  View activity report for a specific organization:
    {{#cyan}}axway org activity <org>{{/cyan}}

  View usage report for a specific organization:
    {{#cyan}}axway org usage <org>{{/cyan}}

  Output link to platform URL to view or change identity provider (idp) settings:
    {{#cyan}}axway org idp <org>{{/cyan}}

ORGANIZATION USER MANAGEMENT EXAMPLES:

  List users in your currently selected organization:
    {{#cyan}}axway org user list{{/cyan}}

  List users for a specific organization:
    {{#cyan}}axway org user list <org>{{/cyan}}

  View available user roles:
    {{#cyan}}axway org user roles{{/cyan}}

  Add a user to an organization:
    {{#cyan}}axway org user add <org> <email> --role <role>{{/cyan}}

  Change a user's role within an organization:
    {{#cyan}}axway org user update <org> <user> --role <role>{{/cyan}}

  Remove a user from an organization:
    {{#cyan}}axway org user remove <org> <user>{{/cyan}}
