AXWAY CLI, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.

Log out all or specific accounts.

USAGE
  $ axway auth logout [ACCOUNTS] [--json] [--no-banner] [--no-color] [--profile <value>]

ARGUMENTS
  [ACCOUNTS]  One or more specific accounts to revoke credentials.

GLOBAL FLAGS
  --json             Format output as json.
  --no-banner        Disable the banner.
  --no-color         Disable color output.
  --profile=<value>  Specify the configuration profile to use.

DESCRIPTION
  Log out all or specific accounts.

  Optionally outputs revoked accounts as JSON.

ALIASES
  $ axway auth revoke
