{{#cyan}}AXWAY CLI{{/cyan}}, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.{{{nodeDeprecationWarning}}}

You are logged into a {{#cyan}}service{{/cyan}} account as {{#cyan}}test-auth-client-cert{{/cyan}}.
The current region is set to {{#cyan}}US{{/cyan}}.

ORGANIZATION  GUID  ORG ID
{{#green}}{{check}} Bar org{{/green}}     2000  200

This account has been set as the default.
