AXWAY CLI, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.

You are logged into a service account as test-auth-client-cert.
The current region is set to US.

ORGANIZATION  GUID  ORG ID
Bar org       2000  200   

This account has been set as the default.

