AXWAY CLI, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.

Log in to the Axway Amplify Platform.

USAGE
  $ axway auth login [--json] [--no-banner] [--no-color] [--profile <value>] [-c <value> --client-id <value>] [-s <value> ] [--force]

FLAGS
  -c, --client-secret=<value>  The service account's client secret key.
  -s, --secret-file=<value>    Path to the PEM formatted private key.
      --client-id=<value>      The service account's client ID.
      --force                  Re-authenticate even if the account is already authenticated.

GLOBAL FLAGS
  --json             Format output as json.
  --no-banner        Disable the banner.
  --no-color         Disable color output.
  --profile=<value>  Specify the configuration profile to use.

DESCRIPTION
  Log in to the Axway Amplify Platform.

  You are able to authenticate using one or more service accounts at the same time.

  Once authenticated, the account's current team is set to its configured default team to use for "axway" commands.

EXAMPLES
  Log in with authentication method prompts:

    $ axway auth login

  Log into a service account using a PEM formatted secret key:

    $ axway auth login --client-id <id> --secret-file <path>

  Log into a service account using a client secret:

    $ axway auth login --client-id <id> --client-secret <token>
