{{#cyan}}AXWAY CLI{{/cyan}}, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.{{{nodeDeprecationWarning}}}

Removes a service account.

USAGE: {{#cyan}}axway service-account remove <client-id/name> [options]{{/cyan}}

REMOVE ARGUMENTS:
  {{#cyan}}id                  {{/cyan}}  The service account client id or name

REMOVE OPTIONS:
  {{#cyan}}--account [name]    {{/cyan}}  The platform account to use
  {{#cyan}}--json              {{/cyan}}  Outputs the result as JSON
  {{#cyan}}--org [name|id|guid]{{/cyan}}  The organization name, id, or guid

GLOBAL OPTIONS:
  {{#cyan}}--no-banner         {{/cyan}}  Suppress the banner
  {{#cyan}}--no-color          {{/cyan}}  Disable colors
  {{#cyan}}-h, --help          {{/cyan}}  Displays the help screen
  {{#cyan}}-v, --version       {{/cyan}}  Outputs the version
