 ›   Error: Missing 2 required args:
 ›   key    Config key to push to.
 ›   value  Value to add.
 ›   See more help with --help

USAGE
  $ axway config push KEY VALUE [--json] [--no-banner] [--no-color] [--profile <value>]

ARGUMENTS
  KEY    Config key to push to.
  VALUE  Value to add.

GLOBAL FLAGS
  --json             Format output as json.
  --no-banner        Disable the banner.
  --no-color         Disable color output.
  --profile=<value>  Specify the configuration profile to use.

