AXWAY CLI, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.

Add a value to the end of a list.

USAGE
  $ axway config push KEY VALUE [--json] [--no-banner] [--no-color] [--profile <value>]

ARGUMENTS
  KEY    Config key to push to.
  VALUE  Value to add.

GLOBAL FLAGS
  --json             Format output as json.
  --no-banner        Disable the banner.
  --no-color         Disable color output.
  --profile=<value>  Specify the configuration profile to use.

EXAMPLES
  Add a value to the end of a list.

    $ axway config push <key> <value>

