{{#cyan}}AXWAY CLI{{/cyan}}, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.{{{nodeDeprecationWarning}}}

Account:      {{#cyan}}test_client:foo@bar.com{{/cyan}}
Organization: {{#cyan}}Bar org{{/cyan}} {{#gray}}(2000){{/gray}}

No service accounts found
