AXWAY CLI, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.

Account:      test-auth-client-secret
Organization: Foo org (1000)

Successfully created service account

Client ID: foo_{{uuid}}
