{{#cyan}}AXWAY CLI{{/cyan}}, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.{{{nodeDeprecationWarning}}}

Account:      {{#cyan}}test-auth-client-secret{{/cyan}}
Organization: {{#cyan}}Foo org{{/cyan}} {{#gray}}(1000){{/gray}}

Successfully created service account

Client ID:         {{#cyan}}foo_{{uuid}}{{/cyan}}
Client Secret Key: {{#cyan}}bar{{/cyan}}
