{{#cyan}}AXWAY CLI{{/cyan}}, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.

{{#cyan}}acs@{{version}}{{/cyan}}
Appcelerator Server Side Node

To install this package, run:

  {{#cyan}}axway pm install acs{{/cyan}}
