{{#cyan}}AXWAY CLI{{/cyan}}, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.{{{nodeDeprecationWarning}}}

{{#green}}acs@{{version}}{{/green}}
Appcelerator Server Side Node

AVAILABLE VERSIONS:
{{versionList}}
To install this package, run:

  {{#cyan}}axway pm install acs{{/cyan}}
