{{#cyan}}AXWAY CLI{{/cyan}}, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.

appcd@{{version}}
A daemon that powers Appcelerator tooling and makes the impossible possible.

To install this package, run:

  {{#cyan}}axway pm install appcd{{/cyan}}
