AXWAY CLI, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.

Display all config settings.

USAGE
  $ axway config list [--json] [--no-banner] [--no-color] [--profile <value>]

GLOBAL FLAGS
  --json             Format output as json.
  --no-banner        Disable the banner.
  --no-color         Disable color output.
  --profile=<value>  Specify the configuration profile to use.

ALIASES
  $ axway config ls

EXAMPLES
  List all config settings.

    $ axway config list

  Return the config as JSON.

    $ axway config list --json

