{{#cyan}}AXWAY CLI{{/cyan}}, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.{{{nodeDeprecationWarning}}}

List organizations

USAGE: {{#cyan}}axway org list [options]{{/cyan}}

LIST OPTIONS:
  {{#cyan}}--account [name]{{/cyan}}  The account to use
  {{#cyan}}--json          {{/cyan}}  Outputs the organizations as JSON

GLOBAL OPTIONS:
  {{#cyan}}--no-banner     {{/cyan}}  Suppress the banner
  {{#cyan}}--no-color      {{/cyan}}  Disable colors
  {{#cyan}}-h, --help      {{/cyan}}  Displays the help screen
  {{#cyan}}-v, --version   {{/cyan}}  Outputs the version
