{{#cyan}}AXWAY CLI{{/cyan}}, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.{{{nodeDeprecationWarning}}}

Account:      {{#cyan}}test_client:foo@bar.com{{/cyan}}
Organization: {{#cyan}}Foo org{{/cyan}} {{#gray}}(1000){{/gray}}

Successfully added {{#cyan}}Test2 Tester2{{/cyan}} to the {{#cyan}}A Team{{/cyan}} team
