AXWAY CLI, version {{version}}
Copyright (c) 2018-{{year}}, Axway, Inc. All Rights Reserved.

Account:      test-auth-client-secret
Organization: Foo org (1000)
Date Range:   {{{localeDateTime}}} and {{{localeDateTime}}}

Amplify API Management Platform - Standard
  280,234 / 1,000,000 Tokens  ■■■■■■■■■■■■⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂  28%

  API Gateway Transactions                                                      799 Tokens
  ├─ 1111111111                                      39,321 Transactions
  ├─ Foo Production                                     511 Transactions        511 Tokens
  └─ Bar                                                288 Transactions        288 Tokens
  AWS API Gateway Traceability Agent Transactions                                 2 Tokens
  └─ Baz Production                                      12 Transactions x 0.1    2 Tokens
  Azure API Gateway Traceability Agent Transactions                              27 Tokens
  └─ Pow                                                214 Transactions x 0.1   27 Tokens

SaaS
  API Calls                  1,294 of 5,000 Calls   ■■■■■⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂  25%
  Push Notifications         1,211 of 2,000 Calls   ■■■■■■■■■■■■⠂⠂⠂⠂⠂⠂⠂⠂  60%
  File Storage                 0.001 of 100 GB      ⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂   0%
  Database Storage              0.32 of 100 GB      ⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂   0%
  Container Points           2,266 of 1,000 Points  ■■■■■■■■■■■■■■■■■■■■ 226%
  Analytics Events    423,110 of 10,000,000 Events  ■⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂⠂   4%
